## COMP5721M: Programming for Data Science 

## Coursework 3: Data Analysis Project


# _Project Title_


_Give names and emails of group members here:_

* _Matthew_, _sc22mf_@leeds.ac.uk
* _Alex_, _fy18aol_@leeds.ac.uk
* _NameC_, _usernameC_@leeds.ac.uk
* _NameD_, _usernameD_@leeds.ac.uk

# Project Requirements
_PLEASE DELETE THIS WHOLE CELL BEFORE SUBMITTING YOUR PROJECT_

The purpose of this assignment is to develop your skills
in organising and presenting a Data Science project.

Since most of the marks will be awarded for organisation
and presentation, it is suggested that you do not initially attempt
anything too complicated. However, once you have managed
to get a basic pipeline working that fits the guidelines,
you are encouraged to extend and elaborate your analysis.

Your project should entirely be contained within this template file.
You should keep the basic structure indicated below. To facilitate
grading according to the marking scheme.

You _may_ import any module that is provided with Anaconda3 Python.


### Marking Scheme

The marking scheme  is as follows:

* Project Plan:
    * Description of data to be used (10) <- Adam & Matt
    * Overview of Project Aims  (5) <- Alex
    * Design  (5) <- Ruohao

* Program Code: (15)<br>
    Code should be laid out in steps with explanations
    and intemediate output with comments.
    You should ensure that the steps do not require
    a large amout of processing time.

* Project Outcome:
    * Explanation of Results (10)<br>
        This should include a qualitative describtion
        of the results as well as key figures and tables
        of results.
    * Results visualisation (10)<br>
        This should be graphical representations of the
        results with brief explanations (ordinary tables will be
        graded as part of the explanation of results)
    * Conclusion (5)

### Data Resources

You can use any data you like. Many useful resources are available.

The Data Resources section of the module (Unit 4.3 on Minerva) has links to several example data sets.

As a starting point you could browse the following:
* [Kaggle](https://www.kaggle.com/)
* [Our World in Data](https://ourworldindata.org/)
* [scikit-learn datasets](https://scikit-learn.org/stable/datasets.html)
* [scikit-learn tutorial](https://scikit-learn.org/stable/tutorial/basic/tutorial.html)




### Using this Notebook Template
Please use this notebook as a template for your project file.
In the following cells of the notebook, _italic text_ giving explanations
and examples should be either deleted, or, in most cases, replaced by appropriate text describing your project.
Text that is not in italic (which is mostly headings) should
be left as it is. __Your project report notebook should the same overall
structure as this templete notebook.__
An exception to this is the current markup cell describing the project
requiements. You should delete this before submitting your notebook.

# Project Plan

## The Data (10 marks)

_Here you should describe the data indluding details of:
where it comes from, what data it contains, is it accurate. (Potentially you could create data from a simulation but you should still explain why and how you intend to generate this data.)_

_It can be just one dataset or several that can be combined
somehow._

_There are 10 marks for this, so a fairly detailed description
of the data is expected (around 300-400 words)_



## Project Aim and Objectives (5 marks)

_Here you should describe the general aim of your project in
around 200-300 words._

_This can can be anything from classifying items according to
their characteristic features (which mushrooms are poisonous?)
to simulating an evolving process (will the rabbits eat all
the carrots or get eaten by the foxes?)_

_Here some ideas of general types of processing functionality
that you could implement:_

* _Classification: separate data items into classes according
  to their charactersitics (can be either a definite or a
  statistical kind of classification)_
* _Corellation: find correspondences between different attributes within
  a dataset_
* _Search: find solutions matching some criteria_
* _Visualisation: find informative ways to
  display the structure of a large and/or complex dataset_
* _Query Answering: create a system that enables one to retrieve information by evaluating some form of query representation_
* _Simulation: model the evolution of a complex process_

### Specific Objective(s)

_You should chose and list __up to 4__ specific objectives suited to the data you will be working with and the type of project you wish to carry out.
There should be <b>at least one
per person doing the project</b>. There is no need
for  the objectives them to be completely different.
They could be different
stages of the processing requirements, or different processing
functions that the system  provides. Or just
different aspects of data analysis that will be conducted.
Typically, it is expected that there would be one objective
per person. Replace the following examples with your own objectives:_

* __Objective 1:__ _Write a dataframe using the data_ <- Alex
* __Objective 2:__ _Avergage each section_ <- Matt _Average all sections_ <- Adam _Average vs platform <-Ruohao / age <-Alex/ gender <-Matt_ _
* __Objective 3:__ _matplotlib_ <- whatever you've programmed, you graph
* __Objective 4:__ _sklearn_ <- later

## System Design (5 marks)

_Describe your code in terms of the
following two sections._

### Architecture

_Typically this would be  a pipeline in which data goes through several
stages of transformation and analysis, but other architectures are possible.
This does not need to be particularly complicated. A simple diagram with
100-150 words of explanation would
be a good way to present your architecture._

### Processing Modules and Algorithms

_Briefly list and describe the most significant computational components of your system and the algorithms you will use to implement them.
This could include things like:_

* _cleaning the data by removing outliers_
* _combining different datasets_
* _converting samples to a special representaion (such as feature vectors)_
* _constructing a special data-structure (such as a decision tree)_
* _running some kind of analysis_

_Your list can be presented in similar form to the one just given,
but should include a brief
but more specific description of the components and/or algorithms.
Probably three or four components is sufficient for most projects, but
you may want to have more._

Project Aim - Alex

We aim to determine the impact of certain human demographics on the individual’s satisfaction while using a website. We look to quantify if there is a correlation or any reason to why someone may have answered the way they did on this survey. We look at metrics such as age, gender, device platform, and language as our key evaluating demographics. We then are able to analyze this data using pandas data frames to efficiently sort through the answers to the survey. For instance, question 1 states, “It is easy to read the text on this website with the used font type and size.” The individual then answers on a scale of 1-10. A metric we are interested for this question is if age has any factor on the answers to this question. To what extent does age play a role in eyesight, or the appeal of certain font types or sizes. Or, does age have nothing to do with it, and is it rather a question of male vs. female interests.
In this project we will address questions such as these and hope to use pandas to clean and sift through the data. We will then be using matplotlib to graph some of the more interesting discoveries we make.

# Program Code (15 marks)

_Your code should be divided into relatively short cells, with brief
explanation in markup cells between._

_As noted in the assigment overview, it is not necessary that your coding be
super complex in order to get a good mark. Although there is a mark for
the coding achievement, it is only a quarter of the total._

_The suggested length of the code is about 150 lines for 1 person or 500
for a 4 peope project. You should not use more than 500 lines of code._

_You should divide the code in accordance with the specification of modules and/or
algorithms you gave in the previous section. Complex modules should be further
divided into several code cells._

Please note the following about your code:
* <b><i>You may import any packages/modules you wish to use for your project.</i></b>


* <b><i>You should submit your notebook in a state where all cells have been
    executed and are displaying the output that you wish to present for grading.</i></b>
    (We will not normally run your code, unless for some reason we wish to check
    that the code functionality matches the given description.)


* Although you may be programming in a "pipeline" style, it is strongly suggested you use function definitions to organise your code. As well as being generally good programming practice, it will be helpful for easy and flexibily presentation of results visualisations later in the document. In the visualisation sections you will be able to produce images in a concise and flexible way by calling functions defined in the program code secion.

## Importing data

Since fridge magnets often take the form of cute animals, we use `pandas` to convert the raw data into a `DataFrame`.

In [1]:
# Creating DataFrame
import pandas

survey_df = pandas.read_csv("survey.csv")
survey_df

,user_id,language,platform,gender,age,q1,q2,q3,q4,q5,...,q17,q18,q19,q20,q21,q22,q23,q24,q25,q26
0,080c468b-27c0-455c-aa63-b8f807f2e3d7,en,Desktop,male,34,9,7,6,6,7,...,8,4,6,5,6,6,5,2,5,3
1,0b0379c7-04db-4c85-84bd-a2bd55329e29,en,Mobile,female,19,10,10,10,9,10,...,10,10,10,10,10,10,10,10,9,8
2,0e623280-b28b-4d4a-8eea-0732f09ed497,en,Mobile,female,19,10,10,10,10,10,...,9,8,10,10,10,10,9,9,8,8
3,045dc0f3-a730-4d03-a615-f51814e5b04f,en,Mobile,male,21,5,8,5,5,5,...,7,9,10,8,8,10,10,8,10,6
4,092f2ee7-5281-4a09-9bce-e5523b95b53b,en,NaN,female,53,9,10,9,10,9,...,7,8,8,8,9,9,10,10,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68,cb71d11a-4e8d-4ab8-80be-ac1f46f5b2d1,en,NaN,male,1,9,9,9,9,7,...,9,6,7,8,8,9,5,5,7,5
69,cd3dad39-da3f-4ada-9e09-a9832ca7bdd7,en,Mobile,male,21,8,9,10,9,8,...,10,8,10,9,9,8,6,7,8,6
70,f3b94dcb-2dde-48d7-968d-606fcddd692d,en,Desktop,male,46,10,6,10,6,6,...,5,8,6,5,8,6,1,1,1,1
71,ddbc5616-edb8-4052-9186-6e105e4491f6,en,Mobile,male,20,10,10,10,10,10,...,10,10,10,10,10,10,10,10,10,10
72,a7788435-7465-4f4d-9f4f-d412db68b295,en,Mobile,female,18,1,1,1,2,2,...,9,9,8,7,5,7,10,10,6,10

The original data consists 73 records and each of the record possess 31 features.

### Getting the first insight by calculating overall score for each user and for each single question

In [2]:
# Average for each row (Average score each user gave)

def average_user_rating():
    '''
    :return: a new dataframe based on the original one with one more column at the right end presenting each user's overall score
    '''
    averagesList = []

    for i, row in survey_df.iterrows():

        j = 1
        sum = 0

        while j < 27:
            question = 'q' + str(j)
            sum = sum + row[question]
            j = j + 1

        average = sum / 26
        averagesList.append(average)

    survey_df['average rating given'] = averagesList

    return survey_df


average_user_rating()

,user_id,language,platform,gender,age,q1,q2,q3,q4,q5,...,q18,q19,q20,q21,q22,q23,q24,q25,q26,average rating given
0,080c468b-27c0-455c-aa63-b8f807f2e3d7,en,Desktop,male,34,9,7,6,6,7,...,4,6,5,6,6,5,2,5,3,5.423077
1,0b0379c7-04db-4c85-84bd-a2bd55329e29,en,Mobile,female,19,10,10,10,9,10,...,10,10,10,10,10,10,10,9,8,9.807692
2,0e623280-b28b-4d4a-8eea-0732f09ed497,en,Mobile,female,19,10,10,10,10,10,...,8,10,10,10,10,9,9,8,8,9.307692
3,045dc0f3-a730-4d03-a615-f51814e5b04f,en,Mobile,male,21,5,8,5,5,5,...,9,10,8,8,10,10,8,10,6,7.307692
4,092f2ee7-5281-4a09-9bce-e5523b95b53b,en,NaN,female,53,9,10,9,10,9,...,8,8,8,9,9,10,10,10,10,8.461538
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68,cb71d11a-4e8d-4ab8-80be-ac1f46f5b2d1,en,NaN,male,1,9,9,9,9,7,...,6,7,8,8,9,5,5,7,5,7.038462
69,cd3dad39-da3f-4ada-9e09-a9832ca7bdd7,en,Mobile,male,21,8,9,10,9,8,...,8,10,9,9,8,6,7,8,6,8.000000
70,f3b94dcb-2dde-48d7-968d-606fcddd692d,en,Desktop,male,46,10,6,10,6,6,...,8,6,5,8,6,1,1,1,1,4.730769
71,ddbc5616-edb8-4052-9186-6e105e4491f6,en,Mobile,male,20,10,10,10,10,10,...,10,10,10,10,10,10,10,10,10,10.000000
72,a7788435-7465-4f4d-9f4f-d412db68b295,en,Mobile,female,18,1,1,1,2,2,...,9,8,7,5,7,10,10,6,10,6.346154

In [23]:
survey_df.mean()

age                     24.863014
q1                       8.013699
q2                       7.863014
q3                       7.821918
q4                       7.410959
q5                       7.506849
q6                       7.643836
q7                       7.630137
q8                       7.602740
q9                       7.068493
q10                      6.438356
q11                      7.054795
q12                      6.863014
q13                      7.534247
q14                      7.684932
q15                      7.575342
q16                      7.041096
q17                      8.068493
q18                      7.452055
q19                      7.465753
q20                      7.410959
q21                      7.589041
q22                      7.808219
q23                      7.561644
q24                      7.479452
q25                      7.561644
q26                      7.328767
average rating given     7.479979
dtype: float64

### Exploring whether different gender will have different impression on the website

In [3]:
# get average rating given by all members of a specific gender

#Seems to be an issue when I tried running this function, I got a key error for 'average rating given' - Alex

def average_rating_for_gender(gender):
    '''
    :param gender: 'male', 'female', 'other'
    :return:
    '''

    gender_df = survey_df[survey_df['gender'] == gender]
    sum = 0

    for i, row in gender_df.iterrows():
        sum = sum + row['average rating given']

    df_length = len(gender_df.index)
    average = sum / df_length

    return average


average_rating_for_gender("male")

7.318803418803418

In [4]:
average_rating_for_gender("female")

7.881656804733728

In [5]:
average_rating_for_gender("other")

5.884615384615385

It seems like female prefers this website than male and non-specific gender group.

### Gathering information of which age prefers which kind of platform

In [7]:
#Calculate what platforms an age range prefers
#This function will be graphed

def PlatformByAge():
    finalshow = []

    for i, row in survey_df.iterrows():
        finalshow.append((row['age'], row['platform']))

    return finalshow


print(PlatformByAge())

[(34, 'Desktop'), (19, 'Mobile'), (19, 'Mobile'), (21, 'Mobile'), (53, nan), (53, 'Mobile'), (18, 'Desktop'), (20, 'Mobile'), (19, 'Mobile'), (19, 'Mobile'), (13, 'Mobile'), (18, 'Mobile'), (19, 'Mobile'), (34, 'Mobile'), (29, 'Desktop'), (19, 'Mobile'), (46, nan), (44, 'Mobile'), (21, 'Desktop'), (20, 'Mobile'), (20, 'Mobile'), (20, 'Mobile'), (18, 'Mobile'), (2, 'Mobile'), (21, 'Mobile'), (27, 'Mobile'), (18, 'Mobile'), (45, 'Mobile'), (51, 'Mobile'), (1, nan), (25, nan), (21, 'Mobile'), (18, 'Mobile'), (21, 'Mobile'), (37, 'Mobile'), (38, 'Desktop'), (18, 'Mobile'), (45, 'Mobile'), (21, 'Mobile'), (1, nan), (20, 'Mobile'), (26, 'Mobile'), (18, 'Desktop'), (20, 'Mobile'), (19, 'Desktop'), (37, 'Desktop'), (22, 'Mobile'), (20, 'Mobile'), (21, 'Mobile'), (45, nan), (19, 'Mobile'), (40, 'Mobile'), (46, 'Mobile'), (55, 'Desktop'), (19, 'Mobile'), (19, 'Mobile'), (21, 'Mobile'), (45, 'Mobile'), (19, 'Mobile'), (23, nan), (19, 'Mobile'), (21, 'Mobile'), (21, 'Mobile'), (18, 'Desktop'), (20, 'Mobile'), (18, 'Mobile'), (20, 'Mobile'), (12, 'Mobile'), (1, nan), (21, 'Mobile'), (46, 'Desktop'), (20, 'Mobile'), (18, 'Mobile')]

### Calculating overall score given by a specific user in an age range

In [21]:
#Outputs the average overall rating of the certain age range specified
#ageRange should be passed as in tuple format, i.e. (1, 10) or (10, 20) etc

def AverageRatingAge(ageRange):
    '''
    :param ageRange:
    :return: average score given by some people in a specific age range
    '''

    total = 0
    entries = 0

    for i, row in survey_df.iterrows():
        if row['age'] in range(ageRange[0], ageRange[1]):
            start = 1
            tempTotal = 0
            while start != 27:
                question = 'q' + str(start)
                tempTotal += row[question]
                start += 1
            total += tempTotal / 26
            entries += 1
    average = total / entries

    return average


print(AverageRatingAge((1, 17)))

7.532051282051281

In [22]:
#Might graph this idk - I agree to draw this since it's informative
#Outputs list of tuples indicating average scores of age ranges 1-10, 11-20, 21-30, etc

def AvgVAge():
    ageRatingList = []

    for i, row in survey_df.iterrows():
        if row['age'] <= 10:
            ageRatingList.append((1, 10, round(AverageRatingAge((1, 10)), 2)))
        if row['age'] in range(11, 20):
            ageRatingList.append((11, 20, round(AverageRatingAge((11, 20)), 2)))
        if row['age'] in range(21, 30):
            ageRatingList.append((21, 30, round(AverageRatingAge((21, 30)), 2)))
        if row['age'] in range(31, 40):
            ageRatingList.append((31, 40, round(AverageRatingAge((31, 40)), 2)))
        if row['age'] in range(41, 50):
            ageRatingList.append((41, 50, round(AverageRatingAge((41, 50)), 2)))
        if row['age'] in range(51, 60):
            ageRatingList.append((51, 60, round(AverageRatingAge((51, 60)), 2)))

    return sorted(ageRatingList)


print(AvgVAge())

[(1, 10, 6.88), (1, 10, 6.88), (1, 10, 6.88), (1, 10, 6.88), (11, 20, 7.86), (11, 20, 7.86), (11, 20, 7.86), (11, 20, 7.86), (11, 20, 7.86), (11, 20, 7.86), (11, 20, 7.86), (11, 20, 7.86), (11, 20, 7.86), (11, 20, 7.86), (11, 20, 7.86), (11, 20, 7.86), (11, 20, 7.86), (11, 20, 7.86), (11, 20, 7.86), (11, 20, 7.86), (11, 20, 7.86), (11, 20, 7.86), (11, 20, 7.86), (11, 20, 7.86), (11, 20, 7.86), (11, 20, 7.86), (11, 20, 7.86), (11, 20, 7.86), (21, 30, 7.54), (21, 30, 7.54), (21, 30, 7.54), (21, 30, 7.54), (21, 30, 7.54), (21, 30, 7.54), (21, 30, 7.54), (21, 30, 7.54), (21, 30, 7.54), (21, 30, 7.54), (21, 30, 7.54), (21, 30, 7.54), (21, 30, 7.54), (21, 30, 7.54), (21, 30, 7.54), (21, 30, 7.54), (21, 30, 7.54), (31, 40, 6.41), (31, 40, 6.41), (31, 40, 6.41), (31, 40, 6.41), (31, 40, 6.41), (41, 50, 6.55), (41, 50, 6.55), (41, 50, 6.55), (41, 50, 6.55), (41, 50, 6.55), (41, 50, 6.55), (41, 50, 6.55), (41, 50, 6.55), (51, 60, 7.57), (51, 60, 7.57), (51, 60, 7.57), (51, 60, 7.57)]

### Discovering whether different version of platform of the website will have an impact on user's satisfactory

In [25]:
survey_df_grouped_by_platform = survey_df.groupby(by='platform')
mean_by_platform = survey_df_grouped_by_platform.mean()
mean_by_platform

,age,q1,q2,q3,q4,q5,q6,q7,q8,q9,...,q18,q19,q20,q21,q22,q23,q24,q25,q26,average rating given
platform,,,,,,,,,,,,,,,,,,,,,
Desktop,30.272727,8.545455,7.818182,7.454545,7.363636,7.454545,7.727273,7.545455,7.454545,5.909091,...,6.545455,7.181818,6.545455,6.727273,7.181818,6.545455,6.636364,6.363636,6.000000,6.828671
Mobile,23.833333,7.925926,7.851852,7.870370,7.314815,7.648148,7.740741,7.759259,7.814815,7.722222,...,7.907407,7.722222,7.740741,7.851852,8.055556,7.888889,7.777778,7.962963,7.777778,7.748575

We can see that generally, mobile version of the website was liked by user

# Project Outcome (10 + 10 marks)

_This section should describe the outcome of the project by means of both explanation of the results and by graphical visualisation in the form of graphs, charts or or other kinds of diagram_

_The section should begin with a general overview of the results and then have a section for each of the project objectives. For each of these objectives an explanation of more specific results relating to that objective shoud be given, followed by a section presenting some visualisation of the results obtained. (In the case where
the project had just one objective, you should still have a section describing
the results from a general perspective followed by a section that focuses on
the particular objective.)_

_The marks for this section will be divided into 10 marks for Explanation
and 10 marks for Visualisation. These marks will be awarded for the Project Outcome
section as a whole, not for each objective individually. Hence, you do not
have to pay equal attention to each. However, you are expected to have a
some explanation and visualisation for each. It is suggested you have
200-400 words explanation for each objective._

## Overview of Results
_Give a general overview of the results (around 200 words)._

## Objective 1

### Explanation of Results

_200-400 words_
We can just sum up all the discovery provided by each cell above, segmented by finds in platform, age and gender

### Visualisation
_The following bar chart gives a vivid representation of the distribution
of fridge magnet types, in which the dominance of 'meme' type magnets
is dramatically illustrated._

## Objective 2
### Explanation of Results

200-400 Words

### Visualisation

## Objective 3
### Explanation of Results

200-400 Words

### Visualisation

## Objective 4 
### Explanation of Results

200-400 Words

### Visualisation

# Conclusion (5 marks)

_Your concluding section should be around 200-400 words. It is recommended
that you divide it into the following sections._

### Achievements
_As we had expected, the most popular fridge magnets were of the 'meme' kind.
We were surprised that 'smiley' fridge magnets were less common than expected.
We conjecture that this is because, although they are apparently very popular,
few fridges display more than one smiley. However, 'meme' based magnets can
be found in large numbers, even on quite small fridges._

### Limitations

_The project was limited to a small number of fridge magents, which may not be
typical of fridges found in the global fridge magnet ecosystem._

### Future Work

_In future work we would like to obtain more diverse data and study fridge magnets 
beyond the limited confines of student accomodation. We hypothesise that there
could be a link between fridge magnet types and social class and/or educational
achievement._